<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">-->
<!--<head th:replace="layout :: header">-->
<!--    <title>Login</title>-->
<!--</head>-->

<body class="d-flex justify-content-center align-items-center vh-100 bg-light">

    <div class="card shadow p-4" style="width: 460px">
        <h2 class="text-center mb-3">Log In</h2>

<!--        <form th:action="@{/process_login}" method="post">-->
        <form id="login-form" method="post">

            <div class="form-group mb-3">
                <label for="username">Email address</label>
                <input type="email" class="form-control" id="username" placeholder="Enter email" aria-describedby="emailHelp" name="username">
                <div id="emailHelp" class="form-text">Use user@test.com, admin@test.com with same password</div>
            </div>

            <div class="form-group mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" name="password">
            </div>
            <button type="submit" class="btn btn-primary mb-3">Submit</button>

<!--            <div  th:if="${param.error}" class="text-danger mb-3">-->
<!--                Invalid username or password.-->
<!--            </div>-->
        </form>
    </div>

</body>
</html>

<script>
    document.getElementById("loginForm").addEventListener("submit", function(event) {
        event.preventDefault();

        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;

        fetch("/process_login", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ username, password })
        })
            .then(response => {
                if (response.ok) {
                    window.location.href = "/index.html";
                } else {
                    alert("error");
                }
            })
            .catch(error => console.error("error:", error));
    });
</script>