.d-flex {
    align-items: stretch;
}

.section-content-div {
    flex-grow: 1;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    background-color: #f8f9fa;
}

.tab-pane {
    width: 100%;
    padding: 20px;
}

.nav-tabs {
    margin-bottom: 0;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab-content {
    background-color: #eaeaea;
}

.tab-content-body {
    background-color: white;
}

.section-content {
    display: none;
    text-align: start;
}


.active-section {
    display: block;
}

.sidebar-section {
    width: 400px;
    min-height: 100vh;
    background: white;
    padding-top: 20px;
}

/* форма */
.save-form {
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* модалка */
.modal {
    /*justify-content: center;*/
    /*align-items: center; */
}

.active-modal {
    display: block;
}

/* Контент внутри модального окна */
.modal-content {
    /*position: relative;*/
}

/* Кнопка закрытия */
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.admin-user-tab {
    display: none;
}

.active-tab {
    display: block;
}

tbody tr:last-child * {
    border-bottom: none;
}