<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<div id="list-content" class="pt-3 tabcontent w-100">
    <h5 class="ps-3 text-start" th:if="${isEdit == 1}">Edit user</h5>
    <h5 class="ps-3 text-start" th:if="${isEdit == 0}">Add new user</h5>

    <div class="tab-content-body">
        <form class="save-form" th:method="POST" th:action="@{/admin/save}" th:object="${user}">
            <label th:if="${isEdit == 1}" for="id">Id</label>
            <input class="form-control" readonly disabled type="text" id="id" th:if="${isEdit == 1}" th:field="*{id}">

            <div class="mb-3">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" th:field="*{name}"
                       placeholder="Enter name" required>
                <div th:if="${#fields.hasErrors('name')}" class="text-danger small" th:text="*{name}"></div>
            </div>

            <div class="mb-3">
                <label for="surname">Surname</label>
                <input type="text" class="form-control" name="surname" id="surname" th:field="*{surname}"
                       placeholder="Enter surname">
                <div th:if="${#fields.hasErrors('surname')}" class="text-danger small" th:errors="*{surname}"></div>
            </div>

            <div class="mb-3">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="username" id="email" th:field="*{username}"
                       placeholder="Enter email"
                       required>
                <div class="text-danger small" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
            </div>

            <div class="mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" th:field="*{password}" name="password"
                       placeholder="Enter password" required>
                <div th:if="${#fields.hasErrors('password')}" class="text-danger small" th:errors="*{password}"></div>
            </div>

            <div class="mb-3">
                <label for="form-select">Roles</label>
                <select id="form-select" class="form-select" multiple name="rolesIds" th:field="*{roleIds}">
                    <option th:each="role : ${roles}"
                            th:value="${role.id}"
                            th:text="${role.name}"
                            th:selected="${user.roleIds != null && user.roleIds.contains(role.id)}">
                    </option>
                </select>
            </div>

            <button class="btn btn-secondary btn-success" type="submit">Save</button>
        </form>
    </div>
</div>
</html>