<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: header">
    <title>User App</title>
</head>

<body>
<div th:replace="layout :: navigation"/>

<div class="d-flex">
    <div class="nav flex-column nav-pills sidebar-section" id="v-pills-tab" aria-orientation="vertical">
        <button class="nav-link sidebar-section-btn active" type="button" data-target="nav-admin" id="admin-btn">Admin</button>
        <button class="nav-link sidebar-section-btn" type="button" data-target="nav-user" id="user-btn">User</button>
    </div>

    <div class="section-content-div">

        <!-- Admin -->
        <div class="tab-pane fade show w-100 p-4 section-content active-section" id="nav-admin" tabindex="0">

            <h1 class="mt-4 pb-2">Admin Panel</h1>

            <ul class="nav nav-tabs" id="userTabs">
                <li class="nav-item">
                    <button class="nav-link tablink active" id="users-list-tab" data-target="all-users-list-content" type="button">
                        All Users
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link tablink" id="add-user-tab" data-target="user-add-content" type="button" aria-selected="false">
                        New User
                    </button>
                </li>
            </ul>

            <div id="all-users-list-content" class="tab-content w-100 admin-user-tab active-tab">
                <div class="tabcontent w-100">

                    <div class="py-2 px-4 text-start"><strong>All Users</strong></div>

                    <div class="table-responsive tab-content-body p-3">

                        <table class="table table-hover mb-0 ps-3 border-top" id="users-list-table">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Surname</th>
                                <th scope="col">Email</th>
<!--                                <th scope="col">Role</th>-->
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div id="user-add-content" class="tab-content w-100 admin-user-tab">
                <div class="tabcontent w-100">

                    <div class="py-2 px-4 text-start"><strong>Add new user</strong></div>

                    <div class="tab-content-body">
                        <form class="save-form text-center">

                            <!-- First Name -->
                            <div class="mb-3">
                                <label for="name" class="mb-1"><strong>First Name</strong></label>
                                <input type="text" class="form-control" id="name" placeholder="Enter first name" required>
                            </div>

                            <!-- Last Name -->
                            <div class="mb-3">
                                <label for="surname" class="mb-1"><strong>Last Name</strong></label>
                                <input type="text" class="form-control" id="surname" placeholder="Enter last name">
                            </div>

                            <!-- Email -->
                            <div class="mb-3">
                                <label for="email" class="mb-1"><strong>Email</strong></label>
                                <input type="text" class="form-control" id="email" placeholder="Enter email" required>
                            </div>

                            <!-- Password -->
                            <div class="mb-3">
                                <label for="password" class="mb-1"><strong>Password</strong></label>
                                <input type="password" class="form-control" id="password" placeholder="Enter password" required>
                            </div>

                            <div class="mb-3">
                                <label for="form-select" class="mb-1"><strong>Roles</strong></label>
                                <select id="form-select-roles" size="2" class="form-select" multiple></select>
                            </div>

                            <div class="d-grid col-6 mx-auto">
                                <button class="btn btn-success" id="create-user">Add new user</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- About User -->
        <div class="tab-pane fade show w-100 p-4 section-content" id="nav-user">

            <h1 class="mt-4 pb-2">User Panel</h1>

            <div id="user-content" class="tab-content w-100">
                <div id="list-content" class="tabcontent w-100">
                    <div class="py-2 px-4 text-start"><strong>About User</strong></div>

                    <div class="table-responsive tab-content-body">
                        <table class="table table-hover mb-0" id="table">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Roles</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td scope="row" id="user-id"></td>
                                <td scope="row" id="user-name"></td>
                                <td scope="row" id="user-surname"></td>
                                <td scope="row" id="user-email"></td>
                                <td scope="row" id="user-roles"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body mx-auto">
                <form id="editUserForm" class="text-center">
                    <div class="mb-3">
                        <label for="id" class="mb-1"><strong>ID</strong></label>
                        <input type="text" class="form-control" id="id" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="mb-1"><strong>First Name</strong></label>
                        <input type="text" class="form-control" id="name" placeholder="Enter name" required>
                    </div>
                    <div class="mb-3">
                        <label for="surname" class="mb-1"><strong>Surname</strong></label>
                        <input type="text" class="form-control" id="surname" placeholder="Enter surname">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="mb-1"><strong>Email</strong></label>
                        <input type="text" class="form-control" id="email" placeholder="Enter email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="mb-1"><strong>Password</strong></label>
                        <input type="password" class="form-control" id="password" placeholder="Enter password" required>
                    </div>
                    <div class="mb-3">
                        <label for="form-select-roles" class="mb-1"><strong>Roles</strong></label>
                        <select id="form-select-roles" size="2" class="form-select" multiple></select>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="edit-user" class="btn btn-primary">Edit</button>
            </div>

        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header ">
            <strong class="me-auto">Error</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toast-error-message"></div>
    </div>
</div>
</body>
</html>