<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<div id="list-content" class="pt-3 tabcontent w-100">
    <h5 class="ps-3 text-start">All Users</h5>

    <div class="table-responsive tab-content-body">
        <table class="table table-hover mb-0">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <th scope="row" th:text="${user.id}" th:id="${user.id}"></th>
                <td th:text="${user.name}"></td>
                <td th:text="${user.surname}"></td>
                <td th:text="${user.email}"></td>
                <td>
                    <button sec:authorize="hasRole('ROLE_ADMIN')"
                            type="button"
                            class="btn btn-info btn-sm"
                            onclick="openEditModal()">
<!--                            th:onclick="openEditModal('${user.id}')">-->
<!--                            th:attr="onclick=|openEditModal('${user.id}')|">-->
                        Edit
                    </button>
<!--                    <a sec:authorize="hasRole('ROLE_ADMIN')"-->
<!--                       th:href="@{/admin/edit/{id}(id=${user.id})}" class="btn btn-info btn-sm">Edit</a>-->
                    <a sec:authorize="hasRole('ROLE_ADMIN')"
                       th:href="@{/admin/delete/{id}(id=${user.id})}"
                       onclick="return confirm('Удалить?')"
                       class="btn btn-danger btn-sm">Remove</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>